/*DOM*/
body {
  background-color: #CAA678 ;
}
table {
  box-shadow:0 0 1px black;
  margin:auto;
}
tr {
  box-shadow:0 0 1px yellow;
}
td {
  height:50px;
  width:50px;
  cursor:pointer;
  box-shadow:0 0 1px red;
}

/*CLASS*/

/*ID*/

/*KEYFRAMES*/

/*SPECIAL CASES*/
